<div class="color-controls"> <br>
      <br>
      <table class="current" style="background-color: rgb(242, 95, 101);">
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </tbody></table>
      Select color:
      <table class="palette">
        <tbody>
          <tr>
          <td id="A14C4C-790000" style="background-color: rgb(161, 76, 76);"></td>
          <td id="BA5255-9D080D" style="background-color: rgb(186, 82, 85);"></td>
          <td id="F25F65-ED1B23" style="background-color: rgb(242, 95, 101);"></td>
          <td id="F59883-F26C4E" style="background-color: rgb(245, 152, 131);"></td>
          <td id="F8B5A1-F69679" style="background-color: rgb(248, 181, 161);"></td>
        </tr>
        <!-- tr><td id="7B2D00"></td><td id="A0410A"></td><td id="F26521"></td><td id="F68E55"></td><td id="F9AD81"></td></tr -->
        <tr>
          <td id="A47E4C-7D4800" style="background-color: rgb(164, 126, 76);"></td>
          <td id="BE9051-A36107" style="background-color: rgb(190, 144, 81);"></td>
          <td id="F9B460-F7941C" style="background-color: rgb(249, 180, 96);"></td>
          <td id="FCC78C-FBAF5C" style="background-color: rgb(252, 199, 140);"></td>
          <td id="FDD7AC-FDC689" style="background-color: rgb(253, 215, 172);"></td>
        </tr>
        <tr>
          <td id="A7A14C-827A00" style="background-color: rgb(167, 161, 76);"></td>
          <td id="C4BC4C-ABA000" style="background-color: rgb(196, 188, 76);"></td>
          <td id="FFF54C-FFF200" style="background-color: rgb(255, 245, 76);"></td>
          <td id="FFF795-FFF468" style="background-color: rgb(255, 247, 149);"></td>
          <td id="FFF9B7-FFF799" style="background-color: rgb(255, 249, 183);"></td>
        </tr>
        <!-- tr><td id="3F6617"></td><td id="588526"></td><td id="8DC63F"></td><td id="ACD373"></td><td id="C4DF9B"></td></tr -->
        <tr>
          <td id="4C8E62-005E1F" style="background-color: rgb(76, 142, 98);"></td>
          <td id="5CA26D-177B2F" style="background-color: rgb(92, 162, 109);"></td>
          <td id="73CB7F-38B549" style="background-color: rgb(115, 203, 127);"></td>
          <td id="A3D69F-7CC576" style="background-color: rgb(163, 214, 159);"></td>
          <td id="BDE0B9-A2D39C" style="background-color: rgb(189, 224, 185);"></td>
        </tr>
        <!-- tr><td id="005825"></td><td id="007236"></td><td id="00A650"></td><td id="3BB878"></td><td id="82CA9C"></td></tr -->
        <!-- tr><td id="005951"></td><td id="00736A"></td><td id="00A99D"></td><td id="1BBBB4"></td><td id="7ACCC8"></td></tr -->
        <tr>
          <td id="4C8CA5-005B7F" style="background-color: rgb(76, 140, 165);"></td>
          <td id="4C9FBE-0076A3" style="background-color: rgb(76, 159, 190);"></td>
          <td id="4CC6F3-00AEEF" style="background-color: rgb(76, 198, 243);"></td>
          <td id="4CD2F6-00BFF3" style="background-color: rgb(76, 210, 246);"></td>
          <td id="98DDF8-6DCFF6" style="background-color: rgb(152, 221, 248);"></td>
        </tr>
        <!-- tr><td id="003562"></td><td id="004A80"></td><td id="0071BC"></td><td id="448CCB"></td><td id="7DA7D9"></td></tr -->
        <tr>
          <td id="4C6288-001F56" style="background-color: rgb(76, 98, 136);"></td>
          <td id="4C709B-003371" style="background-color: rgb(76, 112, 155);"></td>
          <td id="4C87C0-0054A6" style="background-color: rgb(76, 135, 192);"></td>
          <td id="889DCE-5574B9" style="background-color: rgb(136, 157, 206);"></td>
          <td id="A8B3D9-8393CA" style="background-color: rgb(168, 179, 217);"></td>
        </tr>
        <!-- tr><td id="07004C"></td><td id="1A1364"></td><td id="2E3092"></td><td id="605CA8"></td><td id="8781BD"></td></tr -->
        <tr>
          <td id="6E4C80-31004A" style="background-color: rgb(110, 76, 128);"></td>
          <td id="7B5491-430C62" style="background-color: rgb(123, 84, 145);"></td>
          <td id="936BB2-662C91" style="background-color: rgb(147, 107, 178);"></td>
          <td id="A98FC2-855FA8" style="background-color: rgb(169, 143, 194);"></td>
          <td id="BDAAD1-A186BE" style="background-color: rgb(189, 170, 209);"></td>
        </tr>
        <!-- tr><td id="4A0048"></td><td id="620160"></td><td id="91268F"></td><td id="A863A8"></td><td id="BC8CBF"></td></tr -->
        <!-- tr><td id="7B0045"></td><td id="9E005D"></td><td id="EC008C"></td><td id="F06EAA"></td><td id="F49AC1"></td></tr -->
        <tr>
          <td id="A14C66-790025" style="background-color: rgb(161, 76, 102);"></td>
          <td id="BA4C73-9D0038" style="background-color: rgb(186, 76, 115);"></td>
          <td id="F2598B-ED125A" style="background-color: rgb(242, 89, 139);"></td>
          <td id="F598A4-F26D7D" style="background-color: rgb(245, 152, 164);"></td>
          <td id="F8B6BA-F5989D" style="background-color: rgb(248, 182, 186);"></td>
        </tr>
        <tr>
          <td id="8F7358-603811" style="background-color: rgb(143, 115, 88);"></td>
          <td id="9E8165-754C23" style="background-color: rgb(158, 129, 101);"></td>
          <td id="AE9173-8C6238" style="background-color: rgb(174, 145, 115);"></td>
          <td id="C0A385-A67C51" style="background-color: rgb(192, 163, 133);"></td>
          <td id="D7B998-C69C6D" style="background-color: rgb(215, 185, 152);"></td>
        </tr>
      </tbody></table>
      <br>
      <%= link_to 'Download', download_floor_plan_path(@floor_plan), class: 'download' %>
      <br>
</div>
