/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table tr th {
  text-align: left;
}

table tr td, table tr th {
  padding: 0 20px 20px 0;
}

table tr td img {
  max-height: 100px;
}

a.image-link:hover {
  background: none;
  display: block;
  position: relative;
}

a.image-link:hover:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.floor-plan-show {
  position: relative;
  width: 68%;
  margin: 0 auto;
}

.floor-plan-show .floor-plan-title, .floor-plan-show .floor-plan-image {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.floor-plan-show .floor-plan-image svg {
  width: 100%;
}

.floor-plan-show .color-controls {
  position: absolute;
  top: 0;
  left: -130px;
  width: 110px;
  text-align: center;
}

.floor-plan-show .color-controls table {
  border-collapse: collapse;
  margin: 0 auto 5px auto;
  border: 1px solid #999;
}

.floor-plan-show .color-controls table.palette tr td, .floor-plan-show .color-controls table.palette tr th  {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}
